h1 {
    color: rgb(102, 100, 95);
    text-decoration: underline overline;
}

body {background-color: rgb(81, 135, 179);
      font-family: 'Courier New', Courier, monospace;
      font-size: 18px;
}

