h1 {
    color: rgb(197, 196, 194);
    text-decoration: underline overline;
}

body {background-color: rgb(41, 90, 129);
      font-family: 'Courier New', Courier, monospace;
      font-size: 18px;
}

